---
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="public/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions/>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@font-face {
    font-family: 'Source';
    src: url('../fonts/SourceSerif4.ttf'), format('truetype');
	font-display: swap;
	}
	@font-face {
    font-family: 'Tasa';
    src: url('../fonts/Thasadith-Regular.ttf'), format('truetype');
	font-display: swap;
	}
	@font-face {
    font-family: 'SpaceMono';
    src: url('../fonts/SpaceMono-Regular.ttf'), format('truetype');
	font-display: swap;
	}
	h1,h2,h3,h4{
		all:unset;
	}
	div{
		all:unset;
	}
	html{
		all:unset;
		margin: 0;
		height: 100vh;
		background:#f4f4f4;
	}
	body{
		all:unset;
		margin: 0;
		height: 100vh;
		background:#f4f4f4;
		overflow: hidden;
	}
	@keyframes EntradaTexto {
		from{
			opacity:0;
			transform:translateY(-200%);
		}
		to{	
			opacity: 100%;
			transform: translateY(0);
		}
	}
	@keyframes EntradaApoyosTexto {
		from{
			opacity:0;
		}
		to{
			opacity: 100%;
		}
	}
	@keyframes EntradaAbajoBoton {
		0% {
			opacity: 0;
			transform: translateY(50px);
		}
		100% {
			opacity: 1;
			transform: translateY(0); /* Este es el valor que queda fijo por el 'forwards' */
		}
	}
	@keyframes EntradaRedes {
		from{
			transform:translateX(-200%);
		}
		to{
			transform:translateY(0);
		}
	}
	@keyframes VideoAparicion {
		0%{
			opacity: 0;
		}
		10%{
			opacity: 0;
			transform: translateX(100%);
		}
		100%{
			opacity: 1;
			transform: translateX(0);
		}
	}

	/* FORWARDS: Salida arriba ← Entrada DESDE abajo Hacia arriba */
  @keyframes subir-y-salir {
    from { transform: translateY(0); opacity: 1; }
    to { transform: translateY(-100%); opacity: 0; }
  }
  
  @keyframes subir-y-entrar {
    from { transform: translateY(100%); opacity: 0; }  /* ← DESDE abajo */
    to { transform: translateY(0); opacity: 1; }       /* ← Hacia arriba */
  }
  
  /* BACKWARDS: Salida abajo ← Entrada DESDE arriba Hacia abajo */
  @keyframes bajar-y-salir {
    from { transform: translateY(0); opacity: 1; }
    to { transform: translateY(100%); opacity: 0; }
  }
  
  @keyframes bajar-y-entrar {
    from { transform: translateY(-100%); opacity: 0; }  /* ← DESDE arriba */
    to { transform: translateY(0); opacity: 1; }        /* ← Hacia abajo */
  }

	  @keyframes slide-out-inicio {
		from{
			opacity: 1;
			transform: translateY(0);
		}
		to{
			opacity: 0;
			transform: translateY(100%);
		}
      }
	  @keyframes slide-in-inicio {
		from{
			opacity: 0;
			transform: translateY(100%);
		}
		to{
			opacity: 1;
			transform: translateY(0);
		}
      }
	  @keyframes entradaImagenes {
		0%{
			opacity:0%;
			filter:grayscale(1);
		}
		100%{
			opacity:100%;
			filter:grayscale(0);
		}
	  }
	  @keyframes EntradaInferior {
		from{
			opacity: 0;
			transform: translateY(100%);
		}
		to{
			opacity: 1;
			transform: translateY(0);
		}
	  }
	
</style>
